.brands {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 7rem;
  h3 {
    text-align: center;
    color: #5f6368;
    font-size: 20px;
    line-height: 24.2px;
    text-transform: uppercase;
    font-weight: 700;
  }
  &-list {
    display: flex;

    width: 100%;
    justify-content: space-evenly;
    img {
      width: 14%;
      height: auto;
    }
  }
}
