.footer {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  padding: 0 1rem;

  hr {
    margin: 50px 0;
    background-color: rgba($color: #000000, $alpha: 0.2);
    height: 1px;
    border: none;
  }

  &-top {
    display: flex;
    gap: 40px;

    &-contact {
      display: flex;
      flex-direction: column;
      gap: 20px;
      img {
        width: 33%;
      }
      .info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &-address {
          display: flex;
          gap: 20px;
          color: $light-grey;
          font-size: $font-small;
        }
        &-phone {
          display: flex;
          gap: 18px;
          p {
            color: $color-blue;
          }
          i {
            color: $light-grey;
          }
        }
      }
    }
    &-links {
      width: 80%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .link {
      display: flex;
      flex-direction: column;
      i {
        color: $light-grey;
        font-size: 12px;
        margin-right: 10px;
      }
      &-career {
        display: flex;
        gap: 5px;
        a#btn {
          background-color: $color-blue;
          border: 1px solid transparent;
          color: $color-white;
          width: fit-content;
          font-size: 8px;
          border-radius: 5px;
          padding: 2px 4px;
        }
      }

      h3 {
        font-size: 18px;
        font-weight: 800;
        margin-bottom: 1rem;
      }
      a {
        font-size: $font-small;
        color: $light-grey;
        text-decoration: none;
        font-weight: 500;
        margin-bottom: 0.75rem;

        &:hover {
          color: $color-blue;
        }
      }

      .help {
        margin-bottom: 10px;
      }
    }
  }
  &-bottom {
    display: flex;
    flex-direction: column;

    &-top {
      display: flex;
      .policy {
        display: flex;
        gap: 10px;

        p {
          color: $light-grey;
          font-size: $font-small;
          font-weight: 500;
        }

        a {
          font-size: $font-small;
          color: $color-blue;
          font-weight: 500;
        }
      }
      .socials {
        margin-left: auto;
        display: flex;
        gap: 10px;
        align-items: center;

        .icons {
          display: flex;
          gap: 1rem;
        }

        &-icon {
          @include center-flex;
          flex-direction: column;
          border: 1px solid transparent;
          background-color: #ecf2ff;
          padding: 0 4px;
          border-radius: 5px;
          width: 35px;
          height: 35px;

          &:hover {
            background-color: $light-grey;

            i {
              color: #ecf2ff;
            }
          }

          i {
            font-size: 1rem;
            color: $light-grey;
          }
        }
        .region {
          flex-direction: row;
          padding: 0 13px;
          gap: 5px;
          width: fit-content;
          img {
            width: 15px;
          }

          &:hover {
            background-color: #ecf2ff;
          }

          i {
            font-size: 10px;
            color: black;
            margin-left: 10px;
            font-weight: bolder;
            line-height: 24px;
          }
          select {
            appearance: none;
            outline: 0;
            border: none;
            background-color: #ecf2ff;
            font-size: 14px;
            font-family: $font-family-default;
          }
        }
      }
    }
    &-copyright {
      margin: 5rem;
      p {
        width: 100%;
        text-align: center;
        margin-bottom: 1.5rem;
        color: $light-grey;
        padding: 0 1.2rem;
        font-size: $font-small;
      }
    }
  }
}
